In [1]:
import pandas as pd
import numpy as np

# 一、导入数据并探索

In [2]:
data = pd.read_excel('初步筛选后数据集.xlsx')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 79 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   所在广州区域    33136 non-null  object
 1   小区ID      33136 non-null  int64
 2   关注人数      33136 non-null  int64
 3   房屋总价      33136 non-null  object
 4   房屋每平米价    33136 non-null  object
 5   建楼时间      33136 non-null  object
 6   tag       33136 non-null  object
 7   房屋图片数量    32552 non-null  float64
 8   户型分间      33136 non-null  object
 9   近七天带看房次数  33136 non-null  int64
 10  30天带看房次数  33136 non-null  int64
 11  爬取日期      33136 non-null  datetime64[ns]
 12  小区均价      33127 non-null  float64
 13  小区楼栋数     33127 non-null  object
 14  小区在售二手房数  33127 non-null  float64
 15  小区在租房数    33127 non-null  float64
 16  小区建筑类型    33127 non-null  object
 17  小区建筑年代    33127 non-null  object
 18  小区物业费用    33123 non-null  object
 19  小区关注人数    33123 non-null  float64
 20  房屋户型      33136 non-null  object
 21  所在楼层      33136 non-null  object
 22  建筑面积      33136 non-null  object
 23  户型结构      32738 non-null  object
 24  套内面积      33136 non-null  object
 25  建筑类型      32738 non-null  object
 26  房屋朝向      33136 non-null  object
 27  建筑结构      33136 non-null  object
 28  装修情况      33136 non-null  object
 29  梯户比例      32738 non-null  object
 30  配备电梯      32738 non-null  object
 31  挂牌时间      33136 non-null  object
 32  交易权属      33136 non-null  object
 33  上次交易      33136 non-null  object
 34  房屋用途      33136 non-null  object
 35  房屋年限      33136 non-null  object
 36  产权所属      33136 non-null  object
 37  抵押信息      33136 non-null  object
 38  房本备件      33136 non-null  object
 39  地铁站数      32083 non-null  float64
 40  地铁线数      32083 non-null  float64
 41  地铁平均距离    32083 non-null  float64
 42  公交站数      32083 non-null  float64
 43  公交线数      32083 non-null  float64
 44  公交平均距离    32083 non-null  float64
 45  幼儿园数      32083 non-null  float64
 46  幼儿园平均距离   32083 non-null  float64
 47  小学数       32083 non-null  float64
 48  小学平均距离    32083 non-null  float64
 49  中学数       32083 non-null  float64
 50  中学平均距离    32083 non-null  float64
 51  大学数       32083 non-null  float64
 52  大学平均距离    28222 non-null  float64
 53  医院数       32083 non-null  float64
 54  医院平均距离    29191 non-null  float64
 55  药店数       32083 non-null  float64
 56  药店平均距离    32083 non-null  float64
 57  商场数       32083 non-null  float64
 58  商场平均距离    32083 non-null  float64
 59  超市数       32083 non-null  float64
 60  超市平均距离    32083 non-null  float64
 61  市场数       32083 non-null  float64
 62  市场平均距离    32083 non-null  float64
 63  银行数       32083 non-null  float64
 64  银行平均距离    32083 non-null  float64
 65  ATM数      32083 non-null  float64
 66  ATM平均距离   32083 non-null  float64
 67  餐厅数       32083 non-null  float64
 68  餐厅平均距离    32083 non-null  float64
 69  咖啡馆数      32083 non-null  float64
 70  咖啡馆平均距离   32083 non-null  float64
 71  公园数       32083 non-null  float64
 72  公园平均距离    32083 non-null  float64
 73  电影院数      32083 non-null  float64
 74  电影院平均距离   32083 non-null  float64
 75  健身房数      32083 non-null  float64
 76  健身房平均距离   32083 non-null  float64
 77  体育馆数      32083 non-null  float64
 78  体育馆平均距离   32083 non-null  float64
dtypes: datetime64[ns](1), float64(45), int64(4), object(29)
memory usage: 20.0+ MB

In [95]:
data1 = data.copy()

In [194]:
# 重复值
data1.duplicated().sum()

5241

In [195]:
data1.drop_duplicates(inplace=True)

In [196]:
# 有空值的列的空值数量
index = data1.columns[data1.isnull().sum()>0]
data1.isnull().sum()[index]

房屋图片数量       555
小区均价           8
小区楼栋数          8
小区在售二手房数       8
小区在租房数         8
小区建筑类型         8
小区建筑年代         8
小区物业费用        12
小区关注人数        12
户型结构         347
建筑类型         347
梯户比例         347
配备电梯         347
地铁站数         890
地铁线数         890
地铁平均距离       890
公交站数         890
公交线数         890
公交平均距离       890
幼儿园数         890
幼儿园平均距离      890
小学数          890
小学平均距离       890
中学数          890
中学平均距离       890
大学数          890
大学平均距离      4146
医院数          890
医院平均距离      3365
药店数          890
药店平均距离       890
商场数          890
商场平均距离       890
超市数          890
超市平均距离       890
市场数          890
市场平均距离       890
银行数          890
银行平均距离       890
ATM数         890
ATM平均距离      890
餐厅数          890
餐厅平均距离       890
咖啡馆数         890
咖啡馆平均距离      890
公园数          890
公园平均距离       890
电影院数         890
电影院平均距离      890
健身房数         890
健身房平均距离      890
体育馆数         890
体育馆平均距离      890
dtype: int64

In [97]:
data1.head(1)

,所在广州区域,小区ID,关注人数,房屋总价,房屋每平米价,建楼时间,tag,房屋图片数量,户型分间,近七天带看房次数,...,咖啡馆数,咖啡馆平均距离,公园数,公园平均距离,电影院数,电影院平均距离,健身房数,健身房平均距离,体育馆数,体育馆平均距离
0,天河,2111103317017,6,660万,56085元/平米,2006年建,"['VR房源', '房本满五年']",10.0,"{'客厅': ['44.05平米', '西 北 南', '普通窗'], '卧室A': ['6...",0,...,5.0,1483.6,5.0,1186.8,4.0,1432.75,5.0,1043.4,5.0,1071.4

# 二、交易特征

In [98]:
jiaoyi_features = ['关注人数', '房屋总价', '房屋每平米价', '近七天带看房次数', 
'30天带看房次数', '爬取日期', '挂牌时间', '上次交易', '产权所属', '抵押信息',
'房本备件', '小区均价', '小区在售二手房数', '小区在租房数', '小区物业费用', '小区关注人数']+['房屋年限','房屋用途','交易权属']

In [99]:
data_jiaoyi = data1[jiaoyi_features].copy()
# 是原数据的副本，修改data_jiaoyi不会更改data1

交易特征中有空值的特征为：

`小区均价、小区在售二手房数、小区在租房数、小区物业费用、小区关注人数`

In [100]:
index = data_jiaoyi.columns[data_jiaoyi.isnull().sum()>0]
data_jiaoyi.isnull().sum()[index]

小区均价         9
小区在售二手房数     9
小区在租房数       9
小区物业费用      13
小区关注人数      13
dtype: int64

In [101]:
data_jiaoyi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   关注人数      33136 non-null  int64
 1   房屋总价      33136 non-null  object
 2   房屋每平米价    33136 non-null  object
 3   近七天带看房次数  33136 non-null  int64
 4   30天带看房次数  33136 non-null  int64
 5   爬取日期      33136 non-null  datetime64[ns]
 6   挂牌时间      33136 non-null  object
 7   上次交易      33136 non-null  object
 8   产权所属      33136 non-null  object
 9   抵押信息      33136 non-null  object
 10  房本备件      33136 non-null  object
 11  小区均价      33127 non-null  float64
 12  小区在售二手房数  33127 non-null  float64
 13  小区在租房数    33127 non-null  float64
 14  小区物业费用    33123 non-null  object
 15  小区关注人数    33123 non-null  float64
 16  房屋年限      33136 non-null  object
 17  房屋用途      33136 non-null  object
 18  交易权属      33136 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(11)
memory usage: 4.8+ MB

## 2.1 去单位数值化

In [102]:
data_jiaoyi['房屋总价'] = data_jiaoyi['房屋总价'].apply(lambda x:x[:-1]).astype(float)
data_jiaoyi['房屋每平米价'] = data_jiaoyi['房屋每平米价'].apply(lambda x:x[:-4]).astype(float)
data_jiaoyi['小区物业费用'].replace('暂无信息',np.nan,inplace=True)
# np.nan属于float，不能截片，故使用notnull过滤
data_jiaoyi.loc[data_jiaoyi['小区物业费用'].notnull(),'小区物业费用'] = \
data_jiaoyi.loc[data_jiaoyi['小区物业费用'].notnull(),'小区物业费用'].apply(lambda x:x[:-6])
data_jiaoyi.loc[data_jiaoyi['小区物业费用'].notnull(),'小区物业费用'] = \
data_jiaoyi.loc[data_jiaoyi['小区物业费用'].notnull(),'小区物业费用'].apply(lambda x: (np.double(x.split('至')[0])+np.double(x.split('至')[1]))/2 if '至' in x else x)
data_jiaoyi['小区物业费用'] = data_jiaoyi['小区物业费用'].astype('float')

## 2.2 时间特征

感觉爬取日期无意义，删除

In [103]:
data_jiaoyi['上次交易'].replace('暂无数据', np.nan, inplace=True)
data_jiaoyi['上次交易'] = pd.to_datetime(data_jiaoyi['上次交易'],errors = 'coerce')
data_jiaoyi['挂牌时间'] = pd.to_datetime(data_jiaoyi['挂牌时间'],errors = 'coerce')

In [104]:
# 含nan值进行运算得到也是nan
data_jiaoyi['挂牌距上次交易天数'] = (data_jiaoyi['挂牌时间']-data_jiaoyi['上次交易']).apply(lambda x:x.days)

In [105]:
data_jiaoyi[['上次交易','挂牌时间','挂牌距上次交易天数']].head()

        上次交易       挂牌时间  挂牌距上次交易天数
0 2002-03-28 2021-04-30     6973.0
1 2011-11-22 2021-04-24     3441.0
2 2017-03-23 2021-04-24     1493.0
3 2015-04-23 2021-04-23     2192.0
4 2004-12-01 2021-04-25     5989.0

In [106]:
data_jiaoyi.drop(['爬取日期','上次交易','挂牌时间'],axis=1,inplace=True)

## 2.3 类别特征

In [107]:
data_jiaoyi['房屋年限']

0         满五年
1         满五年
2         满两年
3         满五年
4         满五年
         ...
33131    暂无数据
33132    暂无数据
33133     满五年
33134    暂无数据
33135    暂无数据
Name: 房屋年限, Length: 33136, dtype: object

In [108]:
# 房屋年限与税收相关，与房价无关，故删除
data_jiaoyi.drop('房屋年限',axis=1,inplace=True)

房屋用途、抵押信息、房本备件、产权所属、交易所属

属于类别特征，进行标签编码

In [109]:
print(data_jiaoyi['房屋用途'].unique())
print(data_jiaoyi['抵押信息'].unique())
print(data_jiaoyi['房本备件'].unique())
print(data_jiaoyi['产权所属'].unique())
print(data_jiaoyi['交易权属'].unique())

['普通住宅' '别墅' '商住两用' '商业' '平房']
['无抵押' '有抵押 15万元 中国建设银行股份有限公司越秀支行 金融公司垫资' '有抵押 100万元' ... '有抵押 40多万'
 '有抵押 60万元 中国银行海珠支行' '有抵押 56万元 广州农商行华南新城支行 客户偿还']
['已上传房本照片' '未上传房本照片']
['非共有' '共有']
['商品房' '房改房' '经济适用房' '私产' '动迁安置房']

In [110]:
from sklearn.preprocessing import LabelEncoder

房屋用途，查资料得到如下等级：别墅>商业>商住两用>普通住宅>平房

In [111]:
# LabelEncoder是从0开始编码
coder = LabelEncoder()
coder.fit(['平房','普通住宅','商住两用','商业','别墅']) # 平房：0，普通住宅：1，。。。
data_jiaoyi['房屋用途'] = coder.transform(data_jiaoyi['房屋用途'])
# coder.inverse_transform(data)可以将编码转为原特征

交易权属，暂定使用随机标签编码，等级随机(onehot等编码方式可能会更好)

In [112]:
data_jiaoyi['交易权属'] = coder.fit_transform(data_jiaoyi['交易权属']) # fit_transform = 先fit再transform

产权所属、抵押信息、房本备件均0-1编码

In [113]:
# 有空值就不用labelencoder了
data_jiaoyi['是否抵押'] = data_jiaoyi.loc[data_jiaoyi['抵押信息'].notnull(),'抵押信息'].apply(lambda x:x[:3])
data_jiaoyi['是否抵押'] = data_jiaoyi['是否抵押'].replace({'无抵押':0, '有抵押':1, '暂无数':np.nan})

# 后面无空值的特征可用replace也可用coder
data_jiaoyi['是否上传房本照片'] = data_jiaoyi['房本备件'].replace({'未上传房本照片':0,'已上传房本照片':1})

coder.fit(['共有','非共有'])
data_jiaoyi['产权是否共有'] = coder.transform(data_jiaoyi['产权所属'])

In [114]:
(data_jiaoyi.iloc[:,-5:]).head()

   交易权属  挂牌距上次交易天数  是否抵押  是否上传房本照片  产权是否共有
0     1     6973.0   0.0         1       1
1     1     3441.0   0.0         1       0
2     1     1493.0   1.0         1       1
3     1     2192.0   1.0         1       0
4     1     5989.0   0.0         1       1

In [115]:
data_jiaoyi.drop(['抵押信息','房本备件','产权所属'],axis=1,inplace=True)

In [116]:
data_jiaoyi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   关注人数       33136 non-null  int64
 1   房屋总价       33136 non-null  float64
 2   房屋每平米价     33136 non-null  float64
 3   近七天带看房次数   33136 non-null  int64
 4   30天带看房次数   33136 non-null  int64
 5   小区均价       33127 non-null  float64
 6   小区在售二手房数   33127 non-null  float64
 7   小区在租房数     33127 non-null  float64
 8   小区物业费用     31045 non-null  float64
 9   小区关注人数     33123 non-null  float64
 10  房屋用途       33136 non-null  int32
 11  交易权属       33136 non-null  int32
 12  挂牌距上次交易天数  31882 non-null  float64
 13  是否抵押       33004 non-null  float64
 14  是否上传房本照片   33136 non-null  int64
 15  产权是否共有     33136 non-null  int32
dtypes: float64(9), int32(3), int64(4)
memory usage: 3.7 MB

# 三、建筑特征

In [117]:
jianzhu_features = ['建楼时间', '小区建筑年代', 'tag', '户型分间', '小区楼栋数', '房屋图片数量', '建筑面积',
'套内面积', '梯户比例', '房屋户型', '所在楼层', '小区建筑类型', '户型结构', '建筑类型',
'建筑结构', '装修情况', '配备电梯', '房屋朝向']
data_jianzhu = data1[jianzhu_features].copy()

In [118]:
index = data_jianzhu.columns[data_jianzhu.isnull().sum()>0]
data_jianzhu.isnull().sum()[index]

小区建筑年代      9
小区楼栋数       9
房屋图片数量    584
梯户比例      398
小区建筑类型      9
户型结构      398
建筑类型      398
配备电梯      398
dtype: int64

建筑特征中含空值的为：

`小区建筑年代、小区楼栋数、房屋图片数量、梯户比例、小区建筑类型、户型结构、建筑类型、配置电梯`

## 3.1 时间特征

In [119]:
data_jianzhu['建楼时间'].unique()
# ‘未知年建’

array(['2006年建', '未知年建', '2013年建', '1998年建', '2005年建', '2001年建', '1997年建',
       '2007年建', '2004年建', '2000年建', '1994年建', '1999年建', '2002年建',
       '2003年建', '2009年建', '1985年建', '2012年建', '1995年建', '2015年建',
       '2008年建', '1996年建', '2017年建', '2010年建', '1990年建', '2016年建',
       '1993年建', '1992年建', '2018年建', '1989年建', '2011年建', '2014年建',
       '1980年建', '1987年建', '1991年建', '1983年建', '1988年建', '1970年建',
       '1986年建', '1981年建', '1982年建', '1952年建', '1973年建', '1965年建',
       '2019年建', '1979年建', '1900年建', '1978年建', '1984年建', '1976年建',
       '1977年建', '1956年建', '2020年建'], dtype=object)

In [120]:
#有nan值和‘未知’
data_jianzhu['小区建筑年代'].unique()

array(['1998年', '1990年', '2013年', '1994年', '2002年', '2000年', '2007年',
       '1993年', '2001年', '2016年', '1999年', '1997年', '1996年', '2004年',
       '2003年', '1985年', '1982年', '2006年', '2012年', '1995年', '2011年',
       '1900年', '2015年', '2008年', '1984年', '2005年', '1992年', '1989年',
       '2009年', '2017年', '2010年', '1986年', '1991年', '1988年', '1983年',
       '1980年', '未知', '1970年', '1975年', '1987年', '2014年', '1965年',
       '1906年', '1922年', nan, '1981年', '1926年', '1958年', '1978年', '1952年',
       '1973年', '1968年', '1908年', '1950年', '1969年', '1938年', '1953年',
       '1949年', '1955年', '1979年', '1971年', '1976年', '1974年', '1956年',
       '1977年', '2019年', '1966年', '2018年', '1943年', '1940年', '1933年',
       '2066年'], dtype=object)

In [121]:
# 提取数字
data_jianzhu['建楼距今年数'] = data_jianzhu['建楼时间'].apply(lambda x:x[:-2])
data_jianzhu.loc[data_jianzhu['小区建筑年代'].notnull(),'小区建成距今年数'] = data_jianzhu.loc[data_jianzhu['小区建筑年代'].notnull(),'小区建筑年代'].apply(lambda x:x[:-1])
# 替换异常值
data_jianzhu['建楼距今年数'].replace('未知',np.nan,inplace=True)
data_jianzhu['小区建成距今年数'].replace('未',np.nan,inplace=True)

In [122]:
this_year = 2021
# 任意数和nan运算结果仍为nan
data_jianzhu['建楼距今年数'] = this_year - data_jianzhu['建楼距今年数'].astype(float)
data_jianzhu['小区建成距今年数'] = this_year - data_jianzhu['小区建成距今年数'].astype(float)

In [123]:
data_jianzhu.iloc[:,-2:].head()

   建楼距今年数  小区建成距今年数
0    15.0      23.0
1     NaN      31.0
2     8.0       8.0
3    23.0      27.0
4    16.0      19.0

In [124]:
data_jianzhu.drop(['建楼时间','小区建筑年代'],axis=1,inplace=True)

## 3.2 房屋标签、小区楼栋数、房屋图片数量、建筑面积、套内面积

去单位数值化

In [125]:
data_jianzhu[['tag','小区楼栋数','房屋图片数量','建筑面积','套内面积']].head()

                                tag 小区楼栋数  房屋图片数量     建筑面积    套内面积
0                 ['VR房源', '房本满五年']    6栋    10.0  117.68㎡    暂无数据
1  ['地铁', 'VR看装修', '房本满五年', '随时看房']   11栋     8.0  102.74㎡    暂无数据
2                ['VR看装修', '房本满两年']   12栋     9.0   70.39㎡  56.26㎡
3   ['地铁', 'VR房源', '房本满五年', '随时看房']    6栋     7.0  114.19㎡  99.16㎡
4         ['VR房源', '房本满五年', '随时看房']   16栋     7.0  100.45㎡   85.3㎡

In [126]:
index1 = data_jianzhu['小区楼栋数'].notnull() #非空行的索引
data_jianzhu.loc[index1,'小区楼栋数'] = data_jianzhu.loc[index1,'小区楼栋数'].apply(lambda x:x[:-1])
data_jianzhu['小区楼栋数'] = data_jianzhu['小区楼栋数'].astype(float)

data_jianzhu['套内面积'].replace('暂无数据',np.nan,inplace=True)
index2 = data_jianzhu['套内面积'].notnull()
data_jianzhu.loc[index2,'套内面积'] = data_jianzhu.loc[index2,'套内面积'].apply(lambda x:(x.strip())[:-1])
data_jianzhu['套内面积'] = data_jianzhu['套内面积'].astype(float)

data_jianzhu['建筑面积'] = data_jianzhu['建筑面积'].apply(lambda x:x[:-1]).astype(float)

##衍生特征，建筑面积-套内面积=公摊面积
data_jianzhu['公摊面积'] = data_jianzhu['建筑面积']-data_jianzhu['套内面积']

# 计算tag数量
data_jianzhu['房屋标签数量'] = data_jianzhu['tag'].apply(lambda x:len(x.split(',')))

In [127]:
type(data_jianzhu['套内面积'][10])

numpy.float64

In [128]:
data_jianzhu[['房屋标签数量','小区楼栋数','房屋图片数量','建筑面积','套内面积','公摊面积']].head()

   房屋标签数量  小区楼栋数  房屋图片数量    建筑面积   套内面积   公摊面积
0       2    6.0    10.0  117.68    NaN    NaN
1       4   11.0     8.0  102.74    NaN    NaN
2       2   12.0     9.0   70.39  56.26  14.13
3       4    6.0     7.0  114.19  99.16  15.03
4       3   16.0     7.0  100.45  85.30  15.15

In [129]:
data_jianzhu.drop('tag',axis=1,inplace=True)

## 3.3 户型分间、梯户比例、房屋户型、所在楼层

较复杂，具体特征具体分析

In [130]:
data_jianzhu[['户型分间','梯户比例','房屋户型','所在楼层']].head()

,户型分间,梯户比例,房屋户型,所在楼层
0,"{'客厅': ['44.05平米', '西 北 南', '普通窗'], '卧室A': ['6...",一梯五户,3室1厅1厨2卫,高楼层 (共12层)
1,"{'客厅': ['25.71平米', '北', '普通窗'], '卧室A': ['8.84平...",一梯五户,4室2厅1厨1卫,中楼层 (共9层)
2,"{'客厅': ['20.3平米', '北', '普通窗'], '卧室A': ['9.6平米'...",三梯十四户,3室1厅1厨1卫,中楼层 (共31层)
3,"{'客厅': ['30.47平米', '南', '普通窗'], '卧室A': ['4.24平...",一梯八户,4室1厅1厨2卫,低楼层 (共12层)
4,"{'客厅': ['28.76平米', '无', '未知窗户类型'], '卧室A': ['6....",两梯六户,3室1厅1厨2卫,低楼层 (共17层)

In [131]:
import cn2an
import re

In [132]:
#梯户比例 将文字转化为比值
data_jianzhu['梯户比例'].fillna('',inplace=True)
re1 = re.compile('(.+)梯(.+)户')
def calculate_ratio(x):
    ret = re1.findall(x)
    if ret:
        ti = cn2an.cn2an(x[0],'smart')
        hu = cn2an.cn2an(x[0],'smart') # smart模式下能将‘二’和‘两’都转化为 2
        return ti/hu
    else:
        return np.nan

data_jianzhu['梯户比例'] = data_jianzhu['梯户比例'].apply(calculate_ratio)

In [133]:
#房屋户型 提取房、厅、厨、卫数量
re2 = re.compile('\d+')
temp = data_jianzhu['房屋户型'].apply(re2.findall)
data_jianzhu['卧室数量'] = temp.apply(lambda x:x[0]).astype(float)
data_jianzhu['客厅数量'] = temp.apply(lambda x:x[1]).astype(float)
data_jianzhu['厨房数量'] = temp.apply(lambda x:x[2]).astype(float)
data_jianzhu['卫生间数量'] = temp.apply(lambda x:x[3]).astype(float)
data_jianzhu.drop('房屋户型',axis=1,inplace=True)

In [134]:
#所在楼层 提取总层数和楼层高低程度
re3 = re.compile('.+共(\d+)层.+')
data_jianzhu['总层数'] = data_jianzhu['所在楼层'].apply(lambda x:re3.findall(x)[0]).astype(float)

def rep(x):
    pattern = re.compile(r'\s\((.*)\)')
    return pattern.sub(r'',x)
data_jianzhu['所在楼层'] = data_jianzhu['所在楼层'].apply(rep)
data_jianzhu['所在楼层'] = data_jianzhu['所在楼层'].replace("nan",np.NAN)
data_jianzhu = pd.concat([data_jianzhu, pd.get_dummies(data_jianzhu[['所在楼层']])], sort=False, axis=1)
data_jianzhu.drop('所在楼层',axis=1,inplace=True)

In [135]:
# 户型分间
print(data_jianzhu['户型分间'][0])
print(data_jianzhu['户型分间'][1])

{'客厅': ['44.05平米', '西 北 南', '普通窗'], '卧室A': ['6.23平米', '无', '无窗'], '卧室B': ['12.59平米', '西 南', '落地飘窗'], '卧室C': ['9.03平米', '西', '落地飘窗'], '厨房': ['7.8平米', '南', '普通窗'], '卫A': ['3.01平米', '西', '普通窗'], '卫B': ['2.69平米', '西', '普通窗'], '阳台A': ['7.31平米', '南', '普通窗'], '阳台B': ['3.95平米', '西 北', '普通窗'], '储物间': ['2.32平米', '无', '无窗'], '入户花园': ['9.62平米', '西', '普通窗']}
{'客厅': ['25.71平米', '北', '普通窗'], '卧室A': ['8.84平米', '北', '普通窗'], '卧室B': ['10.45平米', '北 东', '普通窗'], '卧室C': ['11.95平米', '东', '普通窗'], '卧室D': ['7.64平米', '南', '普通窗'], '厨房': ['5.77平米', '北', '普通窗'], '卫': ['4.71平米', '无', '无窗'], '阳台': ['4.3平米', '北', '普通窗'], '过道': ['4.27平米', '无', '无窗']}

### 户型分间衍生以下特征
- 1.客厅面积占比
- 2.卧室面积占比
- 3.实际使用面积
- 4.落地窗数量
- 5.有无储物间
- 6.有无入室花园
- 7.窗户数量
- 8.平均卧室面积
- 9.客厅、卧室、阳台朝向，采光等级

In [136]:
data_jianzhu['户型分间'].replace('{}',np.nan,inplace=True)

In [137]:
index = data_jianzhu['户型分间'].notnull()

In [138]:
data_jianzhu.loc[index,'是否有储物间'] = data_jianzhu.loc[index,'户型分间'].apply(lambda x:1 if '储物间' in x else 0)
data_jianzhu.loc[index,'是否有入户花园'] = data_jianzhu.loc[index,'户型分间'].apply(lambda x:1 if '入户花园' in x else 0)

In [139]:
data_jianzhu.loc[index,'窗户数量'] = data_jianzhu.loc[index,'户型分间'].apply(lambda x:x.count('窗')-x.count('无窗'))
data_jianzhu.loc[index,'落地窗数量'] = data_jianzhu.loc[index,'户型分间'].apply(lambda x:x.count('落地'))

In [140]:
#朝向以等级分级
#南＞东南=西南＞东=西＞东北=西北＞北
rank_direction = {
    '南':5,
    '东南':4,
    '西南':4,
    '东':3,
    '西':3,
    '东北':2,
    '西北':2,
    '北':1,
    '无':np.nan
}

def change_direct(x):
    for k,j in rank_direction.items():
        if k in x:
            return j

In [141]:
act_area = []           # 实际使用面积
livingroom_bili = []    # 客厅面积比例
bedroom_bili = []       # 卧室面积比例
bedroom_avg_area = []   # 卧室平均面积
livingroom_light = []   # 客厅采光等级
bedroom_light = []      # 卧室采光等级
balcony_light = []      # 阳台采光等级

for item in data_jianzhu.loc[index,'户型分间']:
    item=eval(item)    # 转换为字典
    df2=pd.DataFrame(item)
    df3=df2.filter(regex='客厅')
    df4=df2.filter(regex='卧室')
    df5=df2.filter(regex='阳台')

    using_area=0
    for p in df2.iloc[0]:
        p=p.split('平')
        p=np.double(p[0])
        using_area=using_area+p
    act_area.append(using_area)

    livingroom_sum=0
    for p in df3.iloc[0]:
        p=p.split('平')
        p=np.double(p[0])
        livingroom_sum=livingroom_sum+p
    livingroom_bili.append(np.double(livingroom_sum/using_area))

    room_sum=0
    for p in df4.iloc[0]:
        p=p.split('平')
        p=np.double(p[0])
        room_sum=room_sum+p
    bedroom_bili.append(np.double(room_sum/using_area))
    
    m=df4.shape[1]
    if m!=0:
        room_ave=room_sum/m
    else:
        room_ave=0
    bedroom_avg_area.append(room_ave)
    
    #房屋朝向等级
    #客厅
    try:
        livingroom_light.append(change_direct(df3['客厅'][1]))
    except:
        livingroom_light.append(np.nan)
    #主卧
    try:
        x1 = df4.iloc[1,np.argmax(df4.loc[0,:].apply(lambda x:x[:-2]).astype(float))]
        bedroom_light.append(change_direct(x1))
    except:
        bedroom_light.append(np.nan)
    #主阳台
    try:
        x1 = df5.iloc[1,np.argmax(df5.loc[0,:].apply(lambda x:x[:-2]).astype(float))]
        balcony_light.append(change_direct(x1))
    except:
        balcony_light.append(np.nan)

In [142]:
data_jianzhu.loc[index,'客厅面积占比'] = livingroom_bili
data_jianzhu.loc[index,'实际使用面积'] = act_area
data_jianzhu.loc[index,'平均卧室面积'] = bedroom_avg_area
data_jianzhu.loc[index,'卧室面积占比'] = bedroom_bili
data_jianzhu.loc[index,'客厅采光程度'] = livingroom_light
data_jianzhu.loc[index,'主卧采光程度'] = bedroom_light
data_jianzhu.loc[index,'阳台采光程度'] = balcony_light

data_jianzhu.drop('户型分间',axis=1,inplace=True)

In [143]:
data_jianzhu.iloc[:,-20:]

,卧室数量,客厅数量,厨房数量,卫生间数量,总层数,中楼层,低楼层,地下室,高楼层,是否有储物间,是否有入户花园,窗户数量,落地窗数量,客厅面积占比,实际使用面积,平均卧室面积,卧室面积占比,客厅采光程度,主卧采光程度,阳台采光程度
0,3.0,1.0,1.0,2.0,12.0,0,0,0,1,1.0,1.0,9.0,2.0,0.405617,108.60,9.283333,0.256446,5.0,5.0,5.0
1,4.0,2.0,1.0,1.0,9.0,1,0,0,0,0.0,0.0,7.0,0.0,0.307389,83.64,9.720000,0.464849,1.0,3.0,1.0
2,3.0,1.0,1.0,1.0,31.0,1,0,0,0,0.0,0.0,8.0,0.0,0.356140,57.00,8.360000,0.440000,1.0,NaN,3.0
3,4.0,1.0,1.0,2.0,12.0,0,1,0,0,0.0,0.0,9.0,0.0,0.358555,84.98,8.597500,0.404683,5.0,NaN,5.0
4,3.0,1.0,1.0,2.0,17.0,0,1,0,0,0.0,0.0,9.0,1.0,0.365624,78.66,9.190000,0.350496,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33131,2.0,2.0,1.0,1.0,6.0,0,1,0,0,0.0,0.0,7.0,0.0,0.439674,56.36,9.635000,0.341909,5.0,3.0,3.0
33132,2.0,1.0,1.0,1.0,6.0,1,0,0,0,0.0,0.0,7.0,0.0,0.426953,69.75,12.060000,0.345806,5.0,NaN,3.0
33133,2.0,2.0,1.0,1.0,6.0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33134,3.0,2.0,1.0,2.0,4.0,0,1,0,0,0.0,0.0,5.0,0.0,0.299356,102.42,12.926667,0.378637,NaN,3.0,NaN
33135,2.0,2.0,1.0,1.0,6.0,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3.4 小区建筑类型、户型结构、房屋建筑类型、建筑结构、装修情况、有无配备电梯、房屋朝向、所在楼层

小区建筑类型无用删除，房屋朝向与前面特征重复删除，其他特征为类别特征，进行编码

In [144]:
data_jianzhu['小区建筑类型'].unique()

array(['塔楼', '塔楼/塔板结合', '塔楼/塔板结合/平房', '板楼', '塔楼/板楼', '塔楼/板楼/塔板结合', '塔板结合',
       '塔楼/板楼/平房', '塔楼/板楼/塔板结合/平房', '塔楼/平房', '未知', '塔板结合/平房', '板楼/塔板结合',
       '平房', '板楼/平房', nan], dtype=object)

In [145]:
data_jianzhu['房屋朝向'][1000:1005]

1000      北
1001      南
1002     东南
1003    南 北
1004      南
Name: 房屋朝向, dtype: object

In [146]:
data_jianzhu.drop(['小区建筑类型','房屋朝向'],axis=1,inplace=True)

In [147]:
data_jianzhu['户型结构'].unique()

array(['平层', '复式', '暂无数据', nan, '错层', '跃层'], dtype=object)

In [148]:
data_jianzhu['建筑类型'].unique()

array(['塔楼', '板楼', '板塔结合', '平房', '暂无数据', nan], dtype=object)

In [149]:
#户型结构、建筑类型（为无序特征）：使用onehot编码

data_jianzhu['户型结构'].replace('暂无数据',np.nan,inplace=True)
data_jianzhu['建筑类型'].replace('暂无数据',np.nan,inplace=True)
data_jianzhu = pd.concat([data_jianzhu,pd.get_dummies(data_jianzhu[['户型结构']])], sort=False, axis=1)
data_jianzhu = pd.concat([data_jianzhu,pd.get_dummies(data_jianzhu[['建筑类型']])], sort=False, axis=1)
data_jianzhu.drop(['户型结构','建筑类型'],axis=1,inplace=True)

In [150]:
#建筑结构、装修情况：定义等级后编码
data_jianzhu['建筑结构'].replace("未知结构",np.NAN,inplace=True)
jiegou_mapping = {
           '钢结构': 6,
           '钢混结构':5,
           '框架结构':4,
           '混合结构':3,
           '砖混结构':2,
           '砖木结构':1}
data_jianzhu['建筑结构'] = data_jianzhu['建筑结构'].map(jiegou_mapping)

data_jianzhu['装修情况'].replace("其他",np.NAN,inplace=True)
zhuangxiu_mapping = {
    '精装':3,
    '简装':2,
    '毛坯':1
}
data_jianzhu['装修情况'] = data_jianzhu['装修情况'].map(zhuangxiu_mapping)
#电梯二值化处理
data_jianzhu['配备电梯'].replace({"暂无数据":np.NAN,'有':1,'无':0},inplace=True)

In [160]:
data_jianzhu[['建筑结构','装修情况','配备电梯']].head()

   建筑结构  装修情况  配备电梯
0   5.0   3.0   1.0
1   5.0   3.0   1.0
2   5.0   3.0   1.0
3   5.0   2.0   1.0
4   5.0   2.0   1.0

In [161]:
data_jianzhu.iloc[:,-8:]

       复式  平层  跃层  错层  塔楼  平房  板塔结合  板楼
0       0   1   0   0   1   0     0   0
1       0   1   0   0   1   0     0   0
2       0   1   0   0   1   0     0   0
3       0   1   0   0   1   0     0   0
4       0   1   0   0   1   0     0   0
...    ..  ..  ..  ..  ..  ..   ...  ..
33131   0   1   0   0   0   0     0   1
33132   0   1   0   0   0   0     0   1
33133   0   0   0   0   0   0     0   1
33134   0   1   0   0   0   0     0   1
33135   0   0   0   0   0   0     0   1

[33136 rows x 8 columns]

In [153]:
data_jianzhu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   小区楼栋数     33127 non-null  float64
 1   房屋图片数量    32552 non-null  float64
 2   建筑面积      33136 non-null  float64
 3   套内面积      17591 non-null  float64
 4   梯户比例      32738 non-null  float64
 5   建筑结构      32617 non-null  float64
 6   装修情况      25110 non-null  float64
 7   配备电梯      31431 non-null  float64
 8   建楼距今年数    22977 non-null  float64
 9   小区建成距今年数  32879 non-null  float64
 10  公摊面积      17591 non-null  float64
 11  房屋标签数量    33136 non-null  int64
 12  卧室数量      33136 non-null  float64
 13  客厅数量      33136 non-null  float64
 14  厨房数量      33136 non-null  float64
 15  卫生间数量     33136 non-null  float64
 16  总层数       33136 non-null  float64
 17  中楼层       33136 non-null  uint8
 18  低楼层       33136 non-null  uint8
 19  地下室       33136 non-null  uint8
 20  高楼层       33136 non-null  uint8
 21  是否有储物间    31969 non-null  float64
 22  是否有入户花园   31969 non-null  float64
 23  窗户数量      31969 non-null  float64
 24  落地窗数量     31969 non-null  float64
 25  客厅面积占比    31969 non-null  float64
 26  实际使用面积    31969 non-null  float64
 27  平均卧室面积    31969 non-null  float64
 28  卧室面积占比    31969 non-null  float64
 29  客厅采光程度    25616 non-null  float64
 30  主卧采光程度    17336 non-null  float64
 31  阳台采光程度    25158 non-null  float64
 32  复式        33136 non-null  uint8
 33  平层        33136 non-null  uint8
 34  跃层        33136 non-null  uint8
 35  错层        33136 non-null  uint8
 36  塔楼        33136 non-null  uint8
 37  平房        33136 non-null  uint8
 38  板塔结合      33136 non-null  uint8
 39  板楼        33136 non-null  uint8
dtypes: float64(27), int64(1), uint8(12)
memory usage: 7.5 MB

# 四、环境特征

### 教育设施、交通设施、购物设施、生活设施、娱乐设施、医疗设施

In [154]:
data_huanjing = data1[['幼儿园数','小学数','中学数','大学数','地铁站数','公交站数','商场数','超市数','市场数','银行数',
                        'ATM数','餐厅数','咖啡馆数','公园数','电影院数','健身房数','体育馆数','医院数','药店数',
                        '幼儿园平均距离','小学平均距离','中学平均距离','大学平均距离','地铁平均距离','公交平均距离',
                        '商场平均距离','超市平均距离','市场平均距离','银行平均距离','ATM平均距离','餐厅平均距离',
                        '咖啡馆平均距离','公园平均距离','电影院平均距离','健身房平均距离','体育馆平均距离','医院平均距离','药店平均距离',
                        '地铁线数','公交线数','所在广州区域']].copy()

In [155]:
#各设施数量
data_huanjing['教育设施数量'] = data_huanjing['幼儿园数']+data_huanjing['小学数']+data_huanjing['中学数']+data_huanjing['大学数']
data_huanjing['交通设施数量'] = data_huanjing['地铁站数']+data_huanjing['公交站数']
data_huanjing['购物设施数量'] = data_huanjing['商场数']+data_huanjing['超市数']+data_huanjing['市场数']
data_huanjing['生活设施数量'] = data_huanjing['银行数']+data_huanjing['ATM数']+data_huanjing['餐厅数']+data_huanjing['咖啡馆数']
data_huanjing['娱乐设施数量'] = data_huanjing['公园数']+data_huanjing['电影院数']+data_huanjing['健身房数']+data_huanjing['体育馆数']
data_huanjing['医疗设施数量'] = data_huanjing['医院数']+data_huanjing['药店数']
#各设施平均距
data_huanjing['教育设施平均距离'] = (data_huanjing['幼儿园平均距离']+data_huanjing['小学平均距离']+data_huanjing['中学平均距离']+data_huanjing['大学平均距离'])/4
data_huanjing['交通设施平均距离'] = (data_huanjing['地铁平均距离']+data_huanjing['公交平均距离'])/2
data_huanjing['购物设施平均距离'] = (data_huanjing['商场平均距离']+data_huanjing['超市平均距离']+data_huanjing['市场平均距离'])/3
data_huanjing['生活设施平均距离'] = (data_huanjing['银行平均距离']+data_huanjing['ATM平均距离']+data_huanjing['餐厅平均距离']+data_huanjing['咖啡馆平均距离'])/4
data_huanjing['娱乐设施平均距离'] = (data_huanjing['公园平均距离']+data_huanjing['电影院平均距离']+data_huanjing['健身房平均距离']+data_huanjing['体育馆平均距离'])/4
data_huanjing['医疗设施平均距离'] = (data_huanjing['医院平均距离']+data_huanjing['药店平均距离'])/2

In [165]:
data_huanjing.drop(columns = ['地铁站数', '地铁线数','地铁平均距离', '公交站数', '公交线数', '公交平均距离', 
                        '幼儿园数', '幼儿园平均距离', '小学数', '小学平均距离','中学数', '中学平均距离', 
                        '大学数', '大学平均距离', '医院数', '医院平均距离', '药店数', '药店平均距离','商场数', 
                        '商场平均距离', '超市数', '超市平均距离', '市场数', '市场平均距离', '银行数', '银行平均距离',
                        'ATM数', 'ATM平均距离', '餐厅数', '餐厅平均距离', '咖啡馆数', '咖啡馆平均距离', '公园数', '公园平均距离',
                        '电影院数', '电影院平均距离', '健身房数', '健身房平均距离', '体育馆数', '体育馆平均距离'],inplace=True)

In [156]:
mapping={'天河':12,'越秀':11,'海珠':10,'荔湾':9,'白云':8,'番禺':7,'黄埔':6,'南沙':5,'顺德':4,'增城':3,'花都':2,'从化':1,'南海':0}
data_huanjing['所在广州区域']=data_huanjing['所在广州区域'].map(mapping)

In [166]:
data_huanjing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   所在广州区域    33136 non-null  int64
 1   教育设施数量    32083 non-null  float64
 2   交通设施数量    32083 non-null  float64
 3   购物设施数量    32083 non-null  float64
 4   生活设施数量    32083 non-null  float64
 5   娱乐设施数量    32083 non-null  float64
 6   医疗设施数量    32083 non-null  float64
 7   教育设施平均距离  28222 non-null  float64
 8   交通设施平均距离  32083 non-null  float64
 9   购物设施平均距离  32083 non-null  float64
 10  生活设施平均距离  32083 non-null  float64
 11  娱乐设施平均距离  32083 non-null  float64
 12  医疗设施平均距离  29191 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 3.3 MB

# 五、合并数据

In [167]:
final_data = pd.concat([data1['小区ID'],data_jiaoyi,data_jianzhu,data_huanjing],axis=1)

In [168]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33136 entries, 0 to 33135
Data columns (total 70 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   小区ID       33136 non-null  int64
 1   关注人数       33136 non-null  int64
 2   房屋总价       33136 non-null  float64
 3   房屋每平米价     33136 non-null  float64
 4   近七天带看房次数   33136 non-null  int64
 5   30天带看房次数   33136 non-null  int64
 6   小区均价       33127 non-null  float64
 7   小区在售二手房数   33127 non-null  float64
 8   小区在租房数     33127 non-null  float64
 9   小区物业费用     31045 non-null  float64
 10  小区关注人数     33123 non-null  float64
 11  房屋用途       33136 non-null  int32
 12  交易权属       33136 non-null  int32
 13  挂牌距上次交易天数  31882 non-null  float64
 14  是否抵押       33004 non-null  float64
 15  是否上传房本照片   33136 non-null  int64
 16  产权是否共有     33136 non-null  int32
 17  小区楼栋数      33127 non-null  float64
 18  房屋图片数量     32552 non-null  float64
 19  建筑面积       33136 non-null  float64
 20  套内面积       17591 non-null  float64
 21  梯户比例       32738 non-null  float64
 22  建筑结构       32617 non-null  float64
 23  装修情况       25110 non-null  float64
 24  配备电梯       31431 non-null  float64
 25  建楼距今年数     22977 non-null  float64
 26  小区建成距今年数   32879 non-null  float64
 27  公摊面积       17591 non-null  float64
 28  房屋标签数量     33136 non-null  int64
 29  卧室数量       33136 non-null  float64
 30  客厅数量       33136 non-null  float64
 31  厨房数量       33136 non-null  float64
 32  卫生间数量      33136 non-null  float64
 33  总层数        33136 non-null  float64
 34  中楼层        33136 non-null  uint8
 35  低楼层        33136 non-null  uint8
 36  地下室        33136 non-null  uint8
 37  高楼层        33136 non-null  uint8
 38  是否有储物间     31969 non-null  float64
 39  是否有入户花园    31969 non-null  float64
 40  窗户数量       31969 non-null  float64
 41  落地窗数量      31969 non-null  float64
 42  客厅面积占比     31969 non-null  float64
 43  实际使用面积     31969 non-null  float64
 44  平均卧室面积     31969 non-null  float64
 45  卧室面积占比     31969 non-null  float64
 46  客厅采光程度     25616 non-null  float64
 47  主卧采光程度     17336 non-null  float64
 48  阳台采光程度     25158 non-null  float64
 49  复式         33136 non-null  uint8
 50  平层         33136 non-null  uint8
 51  跃层         33136 non-null  uint8
 52  错层         33136 non-null  uint8
 53  塔楼         33136 non-null  uint8
 54  平房         33136 non-null  uint8
 55  板塔结合       33136 non-null  uint8
 56  板楼         33136 non-null  uint8
 57  所在广州区域     33136 non-null  int64
 58  教育设施数量     32083 non-null  float64
 59  交通设施数量     32083 non-null  float64
 60  购物设施数量     32083 non-null  float64
 61  生活设施数量     32083 non-null  float64
 62  娱乐设施数量     32083 non-null  float64
 63  医疗设施数量     32083 non-null  float64
 64  教育设施平均距离   28222 non-null  float64
 65  交通设施平均距离   32083 non-null  float64
 66  购物设施平均距离   32083 non-null  float64
 67  生活设施平均距离   32083 non-null  float64
 68  娱乐设施平均距离   32083 non-null  float64
 69  医疗设施平均距离   29191 non-null  float64
dtypes: float64(48), int32(3), int64(7), uint8(12)
memory usage: 14.7 MB

如上所示，数据全部为数值型

In [169]:
final_data.to_excel('Preprocessed_data.xlsx',index=False)

In [174]:
index = final_data.isnull().sum()>0

In [177]:
final_data.isnull().sum()[index]

小区均价             9
小区在售二手房数         9
小区在租房数           9
小区物业费用        2091
小区关注人数          13
挂牌距上次交易天数     1254
是否抵押           132
小区楼栋数            9
房屋图片数量         584
套内面积         15545
梯户比例           398
建筑结构           519
装修情况          8026
配备电梯          1705
建楼距今年数       10159
小区建成距今年数       257
公摊面积         15545
是否有储物间        1167
是否有入户花园       1167
窗户数量          1167
落地窗数量         1167
客厅面积占比        1167
实际使用面积        1167
平均卧室面积        1167
卧室面积占比        1167
客厅采光程度        7520
主卧采光程度       15800
阳台采光程度        7978
教育设施数量        1053
交通设施数量        1053
购物设施数量        1053
生活设施数量        1053
娱乐设施数量        1053
医疗设施数量        1053
教育设施平均距离      4914
交通设施平均距离      1053
购物设施平均距离      1053
生活设施平均距离      1053
娱乐设施平均距离      1053
医疗设施平均距离      3945
dtype: int64

缺失值处理方法
- 直接删除
- 填充（0、最大值、均值、中位数等）
- 建模预测（knn、Matrix_completion，使用与预测特征较相关的特征建模）
- 将缺失值作为一个类别进行编码
- 使用能自动处理缺失值的模型

In [198]:
final_data

,小区ID,关注人数,房屋总价,房屋每平米价,近七天带看房次数,30天带看房次数,小区均价,小区在售二手房数,小区在租房数,小区物业费用,...,购物设施数量,生活设施数量,娱乐设施数量,医疗设施数量,教育设施平均距离,交通设施平均距离,购物设施平均距离,生活设施平均距离,娱乐设施平均距离,医疗设施平均距离
0,2111103317017,6,660.0,56085.0,0,6,51707.0,3.0,5.0,1.50,...,18.0,20.0,19.0,13.0,939.3,1149.937500,1028.953968,1399.00,1183.5875,1123.357143
1,2111103316662,19,850.0,82734.0,2,14,83102.0,5.0,6.0,0.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2120031152991701,7,329.0,46740.0,0,5,40745.0,1.0,1.0,1.50,...,20.0,20.0,14.0,13.0,1209.0,621.333333,1135.857143,1085.20,1336.8250,1207.392857
3,2111103316813,26,568.0,49742.0,20,71,47871.0,19.0,15.0,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2110343238336962,9,520.0,51768.0,16,51,47156.0,17.0,18.0,6.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33131,6220035099512867,80,95.0,14054.0,0,0,14409.0,18.0,8.0,2.25,...,12.0,16.0,11.0,3.0,NaN,651.500000,981.119048,900.35,940.3000,1376.750000
33132,6220035099512867,39,105.0,13816.0,0,0,14409.0,18.0,8.0,2.25,...,12.0,16.0,11.0,3.0,NaN,651.500000,981.119048,900.35,940.3000,1376.750000
33133,6220035099512867,2,128.0,18935.0,0,0,14409.0,18.0,8.0,2.25,...,12.0,16.0,11.0,3.0,NaN,651.500000,981.119048,900.35,940.3000,1376.750000
33134,6220035099512867,0,260.0,23854.0,0,0,14409.0,18.0,8.0,2.25,...,12.0,16.0,11.0,3.0,NaN,651.500000,981.119048,900.35,940.3000,1376.750000
33135,6220035099512867,6,93.0,13881.0,0,0,14409.0,18.0,8.0,2.25,...,12.0,16.0,11.0,3.0,NaN,651.500000,981.119048,900.35,940.3000,1376.750000

In [200]:
data.select_dtypes(exclude='object').columns

Index(['小区ID', '关注人数', '房屋图片数量', '近七天带看房次数', '30天带看房次数', '爬取日期', '小区均价',
       '小区在售二手房数', '小区在租房数', '小区关注人数', '地铁站数', '地铁线数', '地铁平均距离', '公交站数',
       '公交线数', '公交平均距离', '幼儿园数', '幼儿园平均距离', '小学数', '小学平均距离', '中学数', '中学平均距离',
       '大学数', '大学平均距离', '医院数', '医院平均距离', '药店数', '药店平均距离', '商场数', '商场平均距离',
       '超市数', '超市平均距离', '市场数', '市场平均距离', '银行数', '银行平均距离', 'ATM数', 'ATM平均距离',
       '餐厅数', '餐厅平均距离', '咖啡馆数', '咖啡馆平均距离', '公园数', '公园平均距离', '电影院数', '电影院平均距离',
       '健身房数', '健身房平均距离', '体育馆数', '体育馆平均距离'],
      dtype='object')

In [201]:
data.select_dtypes(include='object').columns

Index(['所在广州区域', '房屋总价', '房屋每平米价', '建楼时间', 'tag', '户型分间', '小区楼栋数', '小区建筑类型',
       '小区建筑年代', '小区物业费用', '房屋户型', '所在楼层', '建筑面积', '户型结构', '套内面积', '建筑类型',
       '房屋朝向', '建筑结构', '装修情况', '梯户比例', '配备电梯', '挂牌时间', '交易权属', '上次交易', '房屋用途',
       '房屋年限', '产权所属', '抵押信息', '房本备件'],
      dtype='object')

In [202]:
import matplotlib.pyplot as plt

In [206]:
plt.figure(figsize=(20,10))
plt.hist(data['房屋总价'])
plt.show()